In [56]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import r2_score
import pandas as pd
import tensorflow as tf

# Import our input dataset
alphabet_df = pd.read_csv('charity_data.csv')
alphabet_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [57]:
alphabet_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [58]:
alphabet_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [59]:
application_counts = alphabet_df.APPLICATION_TYPE.value_counts()
print(application_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [60]:
# We need bucketing for APPLICATION_TYPE
# Determine which values need to be replace in APPLICATION_TYPE
replace_application = list(application_counts[application_counts<100].index)

# Replace in DataFrame
for application in replace_application:
    alphabet_df.APPLICATION_TYPE = alphabet_df.APPLICATION_TYPE.replace(application,"Other")

    
# Check to make sure binning was successful
alphabet_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [61]:
classification_counts = alphabet_df.CLASSIFICATION.value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2380        1
C3700        1
C2500        1
C5200        1
C1236        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [62]:
# We need bucketing for CLASSIFICATION
# Determine which values need to be replace in CLASSIFICATION
replace_classification = list(classification_counts[classification_counts<10].index)

# Replace in DataFrame
for classification in replace_classification:
    alphabet_df.CLASSIFICATION = alphabet_df.CLASSIFICATION.replace(classification,"Other")

    
# Check to make sure binning was successful
alphabet_df.CLASSIFICATION.value_counts().head(30)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Other       98
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
Name: CLASSIFICATION, dtype: int64

In [63]:
print(f"Checking for data types: {alphabet_df.dtypes}")
print(f"Checking for unique values count: {alphabet_df.nunique()}")
print(f"Checking for Null Values: {alphabet_df.isnull().sum()}")

Checking for data types: EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object
Checking for unique values count: EIN                       34299
NAME                      19568
APPLICATION_TYPE             10
AFFILIATION                   6
CLASSIFICATION               30
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64
Checking for Null Values: EIN                       0
NAME                      0
APPLICATION_TYPE          0
AFFILIATION               0
CLASSIFICATION            0
USE_CASE                  0
ORGANIZATION              0
STATUS                    0
INCOME_AMT                0
SPECIAL_CONSIDERATIONS    0
ASK_AMT                   0
IS_SUCCESSFUL             0
dtype: int64

In [64]:
# Classify columns by numeric and categorical
numeric_columns = ['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']
category_columns = ['APPLICATION_TYPE','AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION',
                   'INCOME_AMT','SPECIAL_CONSIDERATIONS']

In [65]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(alphabet_df[category_columns]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(category_columns)
encode_df.head()


df_numeric = alphabet_df[numeric_columns].merge(encode_df, left_index=True, right_index=True)
df_numeric

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [66]:
# Remove IS_SUCCESSFUL target from features data
y = df_numeric.IS_SUCCESSFUL
X = df_numeric.drop(columns=['IS_SUCCESSFUL'])


# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [67]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  69
hidden_nodes_layer2 = 35


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Summary
nn.summary()

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_21 (Dense)             (None, 69)                4761
_________________________________________________________________
dense_22 (Dense)             (None, 35)                2450
_________________________________________________________________
dense_23 (Dense)             (None, 1)                 36
=================================================================
Total params: 7,247
Trainable params: 7,247
Non-trainable params: 0
_________________________________________________________________

In [68]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5766 - acc: 0.7139
Epoch 2/100
25724/25724 [==============================] - 1s 34us/sample - loss: 0.5530 - acc: 0.7287
Epoch 3/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5495 - acc: 0.7294
Epoch 4/100
25724/25724 [==============================] - 1s 34us/sample - loss: 0.5478 - acc: 0.7308
Epoch 5/100
25724/25724 [==============================] - 1s 34us/sample - loss: 0.5471 - acc: 0.7327
Epoch 6/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5453 - acc: 0.7333
Epoch 7/100
25724/25724 [==============================] - 1s 36us/sample - loss: 0.5441 - acc: 0.7326
Epoch 8/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5435 - acc: 0.7343
Epoch 9/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5432 - acc: 0.7335
Epoch 10/100
25724/25724 [==============================] - 1s 36us/sample - loss: 0.5420 - acc: 0.7346
Epoch 11/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5410 - acc: 0.7341
Epoch 12/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5413 - acc: 0.7359
Epoch 13/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5407 - acc: 0.7360
Epoch 14/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5401 - acc: 0.7355
Epoch 15/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5394 - acc: 0.7355
Epoch 16/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5394 - acc: 0.7364
Epoch 17/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5389 - acc: 0.7369
Epoch 18/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5382 - acc: 0.7384
Epoch 19/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5381 - acc: 0.7365
Epoch 20/100
25724/25724 [==============================] - 1s 34us/sample - loss: 0.5376 - acc: 0.7382
Epoch 21/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5371 - acc: 0.7388
Epoch 22/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5368 - acc: 0.7380
Epoch 23/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5367 - acc: 0.7386
Epoch 24/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5360 - acc: 0.7398
Epoch 25/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5363 - acc: 0.7393
Epoch 26/100
25724/25724 [==============================] - 1s 36us/sample - loss: 0.5355 - acc: 0.7392
Epoch 27/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5358 - acc: 0.7392
Epoch 28/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5352 - acc: 0.7400
Epoch 29/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5346 - acc: 0.7388
Epoch 30/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5351 - acc: 0.7392
Epoch 31/100
25724/25724 [==============================] - 1s 34us/sample - loss: 0.5343 - acc: 0.7401
Epoch 32/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5345 - acc: 0.7394
Epoch 33/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5339 - acc: 0.7402
Epoch 34/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5337 - acc: 0.7407
Epoch 35/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5333 - acc: 0.7403
Epoch 36/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5336 - acc: 0.7398
Epoch 37/100
25724/25724 [==============================] - 1s 34us/sample - loss: 0.5330 - acc: 0.7402
Epoch 38/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5337 - acc: 0.7404
Epoch 39/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5331 - acc: 0.7410
Epoch 40/100
25724/25724 [==============================] - 1s 36us/sample - loss: 0.5326 - acc: 0.7402
Epoch 41/100
25724/25724 [==============================] - 1s 34us/sample - loss: 0.5327 - acc: 0.7406
Epoch 42/100
25724/25724 [==============================] - 1s 34us/sample - loss: 0.5329 - acc: 0.7412
Epoch 43/100
25724/25724 [==============================] - 1s 36us/sample - loss: 0.5323 - acc: 0.7408
Epoch 44/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5326 - acc: 0.7411
Epoch 45/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5325 - acc: 0.7407
Epoch 46/100
25724/25724 [==============================] - 1s 34us/sample - loss: 0.5322 - acc: 0.7409
Epoch 47/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5321 - acc: 0.7412
Epoch 48/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5318 - acc: 0.7409
Epoch 49/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5318 - acc: 0.7407
Epoch 50/100
25724/25724 [==============================] - 1s 36us/sample - loss: 0.5319 - acc: 0.7405
Epoch 51/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5312 - acc: 0.7405
Epoch 52/100
25724/25724 [==============================] - 1s 34us/sample - loss: 0.5312 - acc: 0.7414
Epoch 53/100
25724/25724 [==============================] - 1s 34us/sample - loss: 0.5313 - acc: 0.7409
Epoch 54/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5312 - acc: 0.7416
Epoch 55/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5305 - acc: 0.7425
Epoch 56/100
25724/25724 [==============================] - 1s 34us/sample - loss: 0.5308 - acc: 0.7413
Epoch 57/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5312 - acc: 0.7414
Epoch 58/100
25724/25724 [==============================] - 1s 36us/sample - loss: 0.5301 - acc: 0.7418
Epoch 59/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5301 - acc: 0.7408
Epoch 60/100
25724/25724 [==============================] - 1s 34us/sample - loss: 0.5306 - acc: 0.7416
Epoch 61/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5298 - acc: 0.7421
Epoch 62/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5306 - acc: 0.7413
Epoch 63/100
25724/25724 [==============================] - 1s 36us/sample - loss: 0.5302 - acc: 0.7413
Epoch 64/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5298 - acc: 0.7421
Epoch 65/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5301 - acc: 0.7414
Epoch 66/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5301 - acc: 0.7416
Epoch 67/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5296 - acc: 0.7424
Epoch 68/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5300 - acc: 0.7415
Epoch 69/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5299 - acc: 0.7416
Epoch 70/100
25724/25724 [==============================] - 1s 36us/sample - loss: 0.5293 - acc: 0.7419
Epoch 71/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5295 - acc: 0.7411
Epoch 72/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5297 - acc: 0.7417
Epoch 73/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5295 - acc: 0.7424
Epoch 74/100
25724/25724 [==============================] - 1s 34us/sample - loss: 0.5297 - acc: 0.7418
Epoch 75/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5295 - acc: 0.7418
Epoch 76/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5288 - acc: 0.7423
Epoch 77/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5291 - acc: 0.74191s - loss: 0.52
Epoch 78/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5290 - acc: 0.7423
Epoch 79/100

25724/25724 [==============================] - 1s 33us/sample - loss: 0.5289 - acc: 0.7418
Epoch 80/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5292 - acc: 0.7421
Epoch 81/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5292 - acc: 0.74180s - loss: 0.5276
Epoch 82/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5285 - acc: 0.7420
Epoch 83/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5285 - acc: 0.7420
Epoch 84/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5287 - acc: 0.7426
Epoch 85/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5291 - acc: 0.7428
Epoch 86/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5287 - acc: 0.7431
Epoch 87/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5286 - acc: 0.7422
Epoch 88/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5286 - acc: 0.7421
Epoch 89/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5287 - acc: 0.7427
Epoch 90/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5282 - acc: 0.7421
Epoch 91/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5279 - acc: 0.7426
Epoch 92/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5284 - acc: 0.7419
Epoch 93/100
25724/25724 [==============================] - ETA: 0s - loss: 0.5285 - acc: 0.742 - 1s 33us/sample - loss: 0.5288 - acc: 0.7422
Epoch 94/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5280 - acc: 0.7430
Epoch 95/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5282 - acc: 0.7427
Epoch 96/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5281 - acc: 0.7424
Epoch 97/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5281 - acc: 0.7422
Epoch 98/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5282 - acc: 0.7430
Epoch 99/100
25724/25724 [==============================] - 1s 36us/sample - loss: 0.5282 - acc: 0.7416
Epoch 100/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5277 - acc: 0.7423

In [69]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5686 - acc: 0.7327
Loss: 0.5685514723698529, Accuracy: 0.7327113747596741

In [15]:
# Running the Random Forest Classifier to check if this model does a better job than the Neural Network
from sklearn.ensemble import RandomForestClassifier
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=180, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.717

In [16]:
# Running the Logistic Regression to check if this model does a better job than the Neural Network
from sklearn.linear_model import LogisticRegression
# Define the logistic regression model
log_classifier = LogisticRegression(solver="lbfgs",max_iter=200)

# Train the model
log_classifier.fit(X_train,y_train)

# Evaluate the model
y_pred = log_classifier.predict(X_test)
print(f" Logistic regression model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Logistic regression model accuracy: 0.466